body {
    background-color: #705C70;
	margin: 0;
  	padding: 0;
    background-size: 100%
}

.sidebar h1 {
  font-family: "Playfair Display", serif;
  font-size: 275%;
  color: #FAF0F8;
  display: block;
  padding: 16px;
  padding-top: 0;
  margin:0;
  font-weight: 600;
  text-align: center;
    font-style:none;
}

.sidebar h2 {
  font-family: "Playfair Display", serif;
  font-size: 150%;
  color: #FAF0F8;
  display: block;
  padding: 16px;
  margin: 0;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.sidebar h3{
  font-family: "Playfair Display", serif;
  color: #FAF0F8;
  display: block;
  padding: 16px;
  margin: 0;
  font-weight: 400;
  text-align: center;
}


#colophon {
  padding-top: 20px;
}

.content h1 {
  font-family: "Playfair Display", serif;
    color: #4F404F;
     text-align: center;
    margin-top:75px;
    margin-left:85px;
    margin-right:85px;
    margin-bottom:0px;
    text-shadow: 40px;
    font-size:40px
}

.content h2 {
  font-family: "Playfair Display";
  font-size: 25px;
    color: #4F404F;
    margin-top:75px;
    margin-bottom:25px;
    margin-left:100px;
    margin-right:100px;
}
.content h3 {
  font-family: "Playfair Display";
  font-size: 20px;
    color: #4F404F;
    margin-top:25px;
    margin-bottom:25px;
    margin-left:100px;
    margin-right:100px;
    font-style: italic;
}


.content p {
  font-family: "Quicksand", serif;
  font-size: 20px;
    color: #4F404F;
    margin-top:25px;
    margin-left:100px;
    margin-right:100px;
    text-align: justify;}

.content a {
 font-family: "Quicksand", serif;
  font-size: 20px;
    color: #4F404F;
    margin-top:25px;
    margin-left:100px;
    margin-right:100px;
}


#footer p {
  font-family: "Playfair Display", serif;
  text-align: center;
}

#footer {
  padding-top: 0px;
  padding-left: 0px;
}


/* LAYOUT STUFF */
div.content {
  margin-left: 100px;
   margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 100px;
    padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
    background-color: #D5E2CA;
    min-width: 500px;
    overflow: auto
}

.topbar {
  margin: 0;
  padding: 5px;
  width: 100%;          
  background-color: #4F404F;
  height: 115px;
    font-size:30px;
      transition: top 0.3s;
}
.topbar h1 {font-family: "Quicksand", serif;
    color: #FAF0F8;
     text-align: center;
    font-size:90px;
        margin:3px;
}

#colophon a {
  font-family: "Playfair Display", serif;
  font-size: 100%;
  color: #FAF0F8;
  display: block;
  padding: 0px;
  padding-top: 0;
  margin:0;
  font-weight: 600;
  text-align: center;
}

#colophon b {
  font-family: "Playfair Display", serif;
  font-size: 100%;
  color: #FAF0F8;
  display: block;
  padding: 0px;
  padding-top: 0;
  margin:0;
  font-weight: 600;
  text-align: center;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4F404F;
  color: #FAF0F8;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #4F404F;
  color: #FAF0F8;
}

#colophon a:hover:not(.active) {
  background-color: #4F404F;
  color: #FAF0F8;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4F404F;
    color: #FAF0F8;
  padding: 10px;
  font-size: 30px;
margin:30px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position:absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
    margin-left: 20px;
  position: absolute;
  background-color: #705C70;
  width: 200px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: #4F404F;
    color: #FAF0F8;
  padding: 20px;
  text-decoration: none;
  display: block;
font-family:"Poppins"
}
.dropdown-content b {
    background-color: #4F404F;
    color: #FAF0F8;
  padding: 0px;
  text-decoration: none;
  display: block;
font-family:"Poppins"
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #705C70;
color: #FAF0F8}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4F404F;}